:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  // color-scheme: light dark;
  // color: rgba(255, 255, 255, 0.87);
  // background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  @media (prefers-color-scheme: light) {
    color: #213547;
    background-color: #ffffff;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

table {
  border-collapse: collapse;
  width: 100%;

  thead {
    background-color: #b2b2b2;
  }

  :is(th, td) {
    padding: 0.5em;
    border: 1px solid #10101087;
    text-align: center;
    word-break: keep-all;
    font-weight: normal;
  }
}

.table-wrapper {
  overflow-x: auto;
}

input {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

select,
textarea,
input:not([type="submit"]) {
  padding: 0.3em 0.5em;
  border: 2px solid #e5e7eb;
  border-radius: 0.25rem;
}

textarea {
  resize: none;
}

.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
  color: black;
}

input.noBorder {
  border: 0;
  cursor: default;
  background-color: transparent;

  &:focus {
    outline: 0;
  }
}

.reference_mark {
  list-style: "\203B  "inside;
}

.no-scrollBar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

input[type="submit"] {
  cursor: pointer;

  &[disabled] {
    cursor: not-allowed;
  }
}